@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.google.com/specimen/Righteous');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');




body {
  background-color: #efebdc;
  font-family: 'Lato Haarfein', sans-serif;
  color: white;
  background-image: url(../img/endgültigelinie.svg);
  background-repeat:repeat-y;
  background-size: contain;
  background-position: fixed;
  background-size: 100%;
  margin: 0;
}






h1 {

  color: rgb(64, 28, 28);
  text-shadow: #efebdc 1px 0 10px;
  font-family: 'Righteous', sans-serif;
  font-size: 4em;
  text-align: center;
  /*border-bottom: dotted;
  border-bottom-color: orange;
  border-width: thick;*/
  margin:auto;
  margin-top: 4em;
  margin-bottom: 0em;
  width: 70%;
  position:relative;
  font-weight: lighter;


  /* border: 3px black solid; */

}
/*h1::before{

  content: "";
  background-image: url(../img/monstera4.png);*/

  /* background-color: red; */
  /*width: 26vw;
  height: 40vh;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  left: -7vw;
  top: -14vh;
  background-size: contain;
  transform: rotate(180deg);

}
*/


  /*
h1::after{

  content:"";*/
  /* border: 4px solid black; */
    /*background-image: url(../img/monstera1.png);*/
  /* background-color: red; */
  /*  width: 21vw;
  height:35vh;
  display: block;
  background-repeat: no-repeat;
  position: absolute;
  right: -3vw;
  top: -3vh;
  transform: scaleX(-1);
  background-size: contain;
}


*/

h2 {
  font-size: 2em;
  font-family: 'Righteous', sans-serif;
  width: 15em;
  text-align: center;
  margin: auto;
  margin-top: 0em;
  padding: 1em;
  margin-bottom: 4em;
  height: 1em;
  color: rgb(0, 0, 0);
  text-shadow: #efebdc 1px 0 10px;
  font-weight: lighter;
  /* border: 3px black solid; */
}

h3{
font-family: 'Righteous', sans-serif;
color: #efebdc;
font-weight: bolder;
font-size: 1.5em;
padding:0em;
margin:0;




}
h4{
  font-family: 'Righteous', sans-serif;
  color: #000000b4;
  text-shadow: #efebdc 1px 0 6px;
  font-weight: bolder;
  font-size: 1.5em;
  padding:0em;
  
}  

h5{
  font-family: 'Righteous', sans-serif;
  color: #efebdc;
  font-weight: bolder;
  font-size: 1.5em;
  padding:0em;
  
}  

h6{
  font-family: 'Righteous', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 1.5em;
  padding:0em;
  


}
header p {
font-family: 'Righteous', sans-serif;
font-size: 1em;
text-align:center;
margin-top: 0em;
/*margin: auto;*/
text-decoration: underline black solid;
padding: none;

/* border: 3px black solid; */

}
.einleitung{

  background-color:  #9d9881d1;

  /*margin-bottom: 2.5em;*/
  /*padding-bottom: 2.5em;*/
  /*margin: 4em;*/
  margin-top: 1em;
 
  padding-bottom: 2em;
  backdrop-filter: blur(3px);
  
  


}

.ueberleitung{


    background-color:  #9d9881d1;
  
    /*margin-bottom: 2.5em;*/
    /*padding-bottom: 2.5em;*/
    /*margin: 4em;*/
    margin-top: 1em;
   
    padding-bottom: 2em;
    backdrop-filter: blur(3px);
    
    

}

.hauptteil{


  background-color:  #9d9881d1;

  /*margin-bottom: 2.5em;*/
  /*padding-bottom: 2.5em;*/
  /*margin: 4em;*/
  margin-top: 1em;
 
  padding-bottom: 2em;
  backdrop-filter: blur(3px);
  
  

}

.accordion-btn{
  font-family: 'Righteous', sans-serif;
  font-size: 2em;
  color: #efebdc;
  font-weight: bolder;

  background-color: transparent;
  border: none;
  padding-top: 0em;
  text-align:left;
  cursor: pointer;
  

}

.accordion {
  font-family: 'Heebo', sans-serif;
  padding-top: 1em;

  background-color: none;

  margin-top:1.5em;
  width: 100vw;
  font-size: 1.25em;
  text-align: left;
  color:#efebdc;
  font-weight: lighter;

  width: 80vw;
  margin-left: 8em;


  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
 
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

  
}


.accordion-btn2{
  font-family: 'Righteous', sans-serif;
  font-size: 2em;
  color: #efebdc;
  font-weight: bolder;

  background-color: transparent;
  border: none;
  padding-top: 0em;
  text-align:left;
  cursor: pointer;
  

}

.accordion2 {
  font-family: 'Heebo', sans-serif;
  padding-top: 1em;

  background-color: pink;

  margin-top:1.5em;

  font-size: 1.25em;
  text-align: left;
  color:#efebdc;
  font-weight: lighter;

  width: 100vw;
  margin-left: 8em;


  
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
 
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

  
}








.ende{

background-color:rgb(64, 28, 28);
height: 36em;
padding-bottom: 3em;

}
/*.vorwort {
  /* border: 4px inset black; */
  /*  border-width: inherit;
  border-style:dashed;
  border-color: grey;*/
  /*box-shadow: 10px 20px 10px rgb(220,220,220);*/
  /*border-radius: 3em; */

  /* margin-left:  */
  

  /*margin: auto;
  font-family: 'Heebo', sans-serif;
  padding-top: 1em;

  margin-top:1.5em;
  width: 65vw;
  font-size: 1.25em;
  text-align: left;
  color:#efebdc;;
  font-weight: lighter;
}*/

/* Stil für die Slideshow-Container */
.slideshow-container {
  position: fixed;
  width: 80%;
  top: 10%;
  left: 10%;
  margin: 0 auto;
  text-align: center;
 
  
  aspect-ratio: 16 / 9;
}

/* Stil für die Bilder */
.mySlides {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Stil für die vorherigen und nächsten Schaltflächen */
.prev, .next {
  cursor: pointer;
  /*position: absolute;*/
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 50%;
  font-size: 24px;
  user-select: none;
  transition: 0.3s;
  position: fixed;
  
  margin-left: 3em;
  margin-right: 3em;
}
.schwarzer_hintergrund{
  background-color: #efebdce3; 
  /* background-image: url(../img/endgültigelinie.svg);*/ */
  background-repeat:repeat-y;
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(3px);
  background-size: 100%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left: 0;
  visibility: hidden;
  padding-top: 50px;
}

.visibility{

  visibility: visible;

}

.close{
  /* background-color:  #efebdc; */
  /*text-align: right;*/
  color: #514d39b4;
  font-family: 'Heebo', sans-serif;
  font-weight: bolder;
  font-size: 1.5em;

  margin-left: 1.5em;
  margin-top: 50em;
  padding-top: 3em;
  cursor: pointer;
}

.prev:hover, .next:hover {
  background-color: #000;
}

/* Position der vorherigen und nächsten Schaltflächen */
.prev {
  left: 0;
}

.next {
  right: 0;
}

article a img{ 
  /*height: 400px;*/
  /* width: 500px; */
}

main {
display: grid;
grid-template-columns: repeat(2, 1fr);
/* border:3px solid black; */
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
margin-top: 4.5em;
grid-gap: 30px;
justify-content:center;


}

.bild1 {
  grid-column: 1 / 2;
  grid-row: 1/3;
  /* border: 4px inset black; */
  border-width: inherit;
  /*box-shadow: 10px 20px 15px rgb(61, 52, 23);*/
  /*border-color: orange;
  border-radius: 3em;
  border-style: dotted; */

  /* margin-top: 3.5em; */
  margin-bottom: 0em;
  margin-top: 4em;
  padding: 0.5em 3em 1em;
  text-align: center;
  cursor: pointer;
  


  }

  .bild2 {
    grid-column: 2 / 2;
    grid-row: 2/4;
    /* border: 4px inset black; */
    border-width: inherit;
    /*box-shadow: 10px 20px 15px rgb(61, 52, 23);*/
    /*border-radius: 3em;
    border-color: orange;
    border-style: dotted;*/
    margin-top: 3em;;
    padding: 0.5em 3em 1em;
    text-align: center;
    cursor: pointer;
    }

    .bild3 {
      grid-column: 1 / 2;
      grid-row: 3/5;
      /* border: 4px inset black; */
      border-width: inherit;
      /*box-shadow: 10px 20px 15px rgb(61, 52, 23);*/


      margin-top: 3em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    .bild4 {
      grid-column: 2 / 2;
      grid-row: 4/6;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    .bild5 {
      grid-column: 1 / 2;
      grid-row: 5/7;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    .bild6 {
      grid-column: 2 / 2;
      grid-row: 6/8;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    .bild7 {
      grid-column: 1 / 2;
      grid-row: 7/9;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    .bild8 {
      grid-column: 2 / 2;
      grid-row: 8/10;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    .bild9 {
      grid-column: 1 / 2;
      grid-row: 9/11;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }


    .bild10 {
      grid-column: 2 / 2;
      grid-row: 10/12;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }


    .bild11 {
      grid-column: 1/ 2;
      grid-row: 11/13;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }


    .bild12 {
      grid-column: 2 / 2;
      grid-row: 12/14;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }


    .bild13 {
      grid-column: 1 / 2;
      grid-row: 13/15;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    .bild14 {
      grid-column: 2 / 2;
      grid-row: 14/16;
      /* border: 4px inset black; */

      margin-top: 3em;
      padding-left: 0.5em;
      padding: 0.5em 3em 1em;
      text-align: center;
      cursor: pointer;
    }

    footer {
    /*  display: flex;
      flex-direction: row;*/
      height:5em;
      justify-content: space-around;

      align-items: center;
      border-radius: 3em;
      /*box-shadow: 10px 20px 15px rgb(61, 52, 23);*/
      margin-top: 6em;
      margin-bottom: 2em;



    }

    a {
      font-family: 'Heebo', sans-serif;
      color: white;
      font-size: 2em;



    }
img{
 height: 75%;
 width: 100%;
 border-radius: 5%;

}
aside{

  /* border: 3px black solid; */
  float: left;
  /* margin-left: -27vw; */
  /* margin-top: -100em; */
  margin-top: 3em;
  padding: 0.5em 1em 1em;
  list-style-type: none;
  background-color: rgb(232, 218, 188);
  border-radius: 3em;
  box-shadow: 10px 20px 15px rgb(61, 52, 23);
  position: relative;
  top: 50em;
  width: 15vw; /* Diese Breite kannst du ändern */
  height: 65vh;
  left: 50px; /* Vergiss nicht diesen Wert anzupassen, wenn du die Breite änderst! */
  top: 0;
  bottom: 0;
  /* background-color: rgba( 0, 0, 0, .9 ); */
  padding: 15px 0;
  transition: left 1s ease-in 0.5s; /* Das ist der Verlauf zwischen left: -150px und left: 0 (Im Code-Block "Main-Wrapper - Teil 3" erfährst du mehr dazu) */
  text-align: center;
}

nav ul a {
  color: black;
  text-decoration: none;
  padding-left: 25px;
  /* display: block; */
  padding: 0.5em 3em 1em;
  /* padding-left: 30px; */


}


.zen-validate-html {
margin-left: 3.5em;


}




.schluss {
  /* border: 4px inset black; */
  /*  border-width: inherit;
  border-style:dashed;
  border-color: grey;*/
  /*box-shadow: 10px 20px 10px rgb(220,220,220);*/
  /*border-radius: 3em; */

  /* margin-left:  */

  margin: auto;
  font-family: 'Heebo', sans-serif;
  padding-top: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;


  margin-top:1.5em;
  width: 65vw;
  font-size: 1.25em;
  text-align: center;
  color:white;
  font-weight: lighter;
  margin-bottom: -0.5em;
  height: 16em;
  background-color: #514d39b4;

}



@media screen and (max-width: 782px) {

  header p {
  text-align: center;
  margin-top: 0em;
  margin: auto;
 margin-left: 0;
  max-width: inherit;

  /* border: 3px black solid; */

  }


body{
max-width: inherit;


}
h1 {


  font-size: 2.7em;
  width: 80%;
}

h2 {
  font-size: 1.7em;
 
  width: 75%;
  text-align: center;
  margin-bottom: 1em;
  }

h3 {
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    
  }

  h4 {
    justify-content: center;
    text-align: center;
    font-size: 1em;
    
    }

main {
  display:block;

  /* border:3px solid black; */

  margin-top: 4.5em;
  /* grid-gap: 30px; */
  justify-content:center;
  text-align: center;


}


.accordion-btn {

font-size: 1.7em;

text-align: left;

}


.accordion {
  margin-left:3em;
  text-align: left;
  font-size: 1.5em;



}

.einleitung {

    /* border: 4px inset black; */
    /*  border-width: inherit;
    border-style:dashed;
    border-color: grey;*/
    /*box-shadow: 10px 20px 10px rgb(220,220,220);*/
    /*border-radius: 3em; */

    /* margin-left:  */

    margin: auto;
    font-family: 'Heebo', sans-serif;

    width: 100%;
    font-size: 0.7em;
    text-align: center;
    color:white;
    font-weight: lighter;
  }


.ueberleitung{

  margin: auto;
  font-family: 'Heebo', sans-serif;

  width: 100%;
  font-size: 0.7em;
  text-align: center;
  color:white;
  font-weight: lighter;

}

.hauptteil{

  margin: auto;
  font-family: 'Heebo', sans-serif;

  width: 100%;
  font-size: 0.7em;
  text-align: center;
  color:white;
  font-weight: lighter;

}



.schluss {
  /* border: 4px inset black; */
  /*  border-width: inherit;
  border-style:dashed;
  border-color: grey;*/
  /*box-shadow: 10px 20px 10px rgb(220,220,220);*/
  /*border-radius: 3em; */

  /* margin-left:  */

  margin: auto;
  font-family: 'Heebo', sans-serif;
  padding-top: 1em;

  margin-top: auto;
  width: 65vw;
  font-size: 1.3em;
  text-align: center;
  color:white;
  font-weight: lighter;
  margin-top: 5em;
  margin-bottom: none;
  padding-top: 2em;
  padding-bottom: 0;
  height: 14em;

}




img {
width: 100%;
height: 100%;

}
.ende{


height: 10em;
padding-bottom: none;



}

.slideshow-container {
  position: fixed;
  width: 80%;
  top: 31%;

}

.prev, .next {
font-size: 10px;
}

}

@media screen and (max-width: 430px) {

  header p {
  text-align: center;
  margin-top: 0em;
  margin: auto;
 margin-left: 0;
  max-width: inherit;

  /* border: 3px black solid; */

  }


body{
max-width: inherit;


}
h1 {


  font-size: 1.4em;
  width: 90%;
}

h2 {
  font-size: 1em;
 
  width: 75%;
  text-align: center;
  }

h3 {
    justify-content: center;
    text-align: center;
    font-size: 1.2em;
    
  }

  h4 {
    justify-content: center;
    text-align: center;
    font-size: 1em;
    
    }

main {
  display:block;

  /* border:3px solid black; */

  margin-top: 4.5em;
  /* grid-gap: 30px; */
  justify-content:center;
  text-align: center;


}


.accordion-btn {

font-size: 0.9em;

text-align: left;

}


.accordion {
  margin-left:3em;
  text-align: left;


}

.einleitung {

    /* border: 4px inset black; */
    /*  border-width: inherit;
    border-style:dashed;
    border-color: grey;*/
    /*box-shadow: 10px 20px 10px rgb(220,220,220);*/
    /*border-radius: 3em; */

    /* margin-left:  */

    margin: auto;
    font-family: 'Heebo', sans-serif;

    width: 100%;
    font-size: 0.7em;
    text-align: center;
    color:white;
    font-weight: lighter;
    padding-bottom: 1em;
  }


.ueberleitung{

  margin: auto;
  font-family: 'Heebo', sans-serif;

  width: 100%;
  font-size: 0.7em;
  text-align: center;
  color:white;
  font-weight: lighter;

}

.hauptteil{

  margin: auto;
  font-family: 'Heebo', sans-serif;

  width: 100%;
  font-size: 0.7em;
  text-align: center;
  color:white;
  font-weight: lighter;

}



.schluss {
  /* border: 4px inset black; */
  /*  border-width: inherit;
  border-style:dashed;
  border-color: grey;*/
  /*box-shadow: 10px 20px 10px rgb(220,220,220);*/
  /*border-radius: 3em; */

  /* margin-left:  */

  margin: auto;
  font-family: 'Heebo', sans-serif;
  padding-top: 1em;

  margin-top: auto;
  width: 65vw;
  font-size: 0.9em;
  text-align: center;
  color:white;
  font-weight: lighter;
  margin-top: 5em;
  margin-bottom: none;
  padding-top: 2em;
  padding-bottom: 0;
  height: 14em;

}




img {
width: 100%;
height: 100%;

}
.ende{


height: 10em;
padding-bottom: none;



}
.slideshow-container {
  position: fixed;
  width: 80%;
  top: 38%;


}

.prev, .next {
  font-size: 0.3rem;
  margin-left: 1.2em;
  margin-right: 1.2em;
  }
  


}

